body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Wrapper01{
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
}

.Premium{
    height: 150px;
    background-color: rgb(0, 188, 212);
}