body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Wrapper01{
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
}

.Premium{
    height: 150px;
    background-color: rgb(0, 188, 212);
}

.menu{
    height: 70px;
    width: 70%;
    background-color: greenyellow;
    float: left;
}

.right-box{
    position: absolute;
    float: right;
    width: 30%;
    height: 100%;
    right: 40px;
    background-color: aqua;
}

.App{
    float: left;
    width: 70%;
}